<h1 class="title">Dynamic Parser</h1>
<div class="blogText">
  <h3>What is the dynamic parser?</h3>
  <div class="bodyText">
    <p>Java is known to be a language with lots of boilerplate. In JavaScript, when you retrieve data in JSON it is
      possible to access the data dynamically by using the direct member access operator (the dot) to access a property.
      In java, it is necessary to serialize the object into a POJO, and that means creating an object, usually not
      dynamically. Unfortunately, in many cases it takes much work and effort to create the domain object and the
      developer needs to write that code beforehand. The dynamic parser provides a way to have that work done for you.
      Enter the JSON, and it will provide the classes. Then, it is possible to use those classes to deserialize the Json
      into the Java program.</p>
    <p>This program is a way to deserialize json into Java objects. In a way, it is a Json deserializer, although what
      it actually does is generate the .java files that will be used in the program to deserialize data into the POJOs
      (plain old java objects) from Json. This is a development tool to eliminate some of the busy work from working
      with Json and Java.</p>
    <p>The way that this Json deserialization tool creates decompiled class files is by using recursion, a decompiler,
      and a bytecode engineering library. It was necessary to have the class implement Serializable for the workflow,
      however it may be necessary to remove this or otherwise modify the generated code for your desired use case.</p>
  </div>
</div>
